body{
    
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,darkorchid,grey);
    color:blue;
	font-size:20;

}
b{
	color:black;
}